<footer class="footer_area h_footer_dark event_footer_area">
    <div class="square_box box_three"></div>
    <div class="square_box box_four"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="f_widget dark_widget company_widget">
                    <a href="/">
                        <img class="lexacle-icon" src="/assets/img/svg/lt-pink.svg" alt="Lexacle Technologies">
                        <span class="text-logo align-middle text-white">LEXACLE</span>
                    </a>
                    <p>&copy;
                        2021 Lexacle Technologies, Ltd<br>
                        Nairobi, Kenya | All rights reserved.
                    </p>
                    <form action="#" class="f_subscribe mailchimp" method="post" novalidate="true">
                        <input type="email" name="EMAIL" class="form-control memail"
                            placeholder="Monthly Newsletter Email" autocomplete="off">
                        <button class="btn btn-submit" type="submit"><i class="ti-arrow-right"></i></button>
                    </form>
                    <!--
              <a class="newsletter-link btn" href="<?php //echo base_url(); ?>">Newsletter Signup</a>
            -->
                    <div class="f_social_icon">
                        <a href="https://facebook.com/lexacle" target="_blank" alt="Facebook" rel="noopener"><i
                                class="ti-facebook"></i></a>
                        <a href="https://twitter.com/LexacleT" target="_blank" alt="twitter" rel="noopener"><i
                                class="ti-twitter-alt"></i></a>
                        <a href="https://linkedin.com/lexacle" target="_blank" alt="linked in" rel="noopener"><i
                                class="ti-linkedin"></i></a>
                        <a href="https://instagram.com/lexacle/" target="_blank" alt="instagram" rel="noopener"><i
                                class="ti-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="f_widget dark_widget about-widget">
                    <h3 class="f-title f_600 t_color f_size_18 mb-4">Useful Links</h3>
                    <ul class="list-unstyled f_list">
                        <li><a routerLink="/sample-projects">Sample Projects</a></li>
                        <li><a routerLink="/about/developer-team">Developer Team</a></li>
                        <li><a routerLink="/about/company-profile">Company Profile</a></li>
                        <li><a routerLink="/about/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/about/terms-of-use">Terms of use</a></li>
                        <li><a routerLink="/about/refund-policy">Refund Policy</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="f_widget dark_widget about-widget pl_40">
                    <h3 class="f-title f_600 t_color f_size_18 mb-4">Our Services</h3>
                    <ul class="list-unstyled f_list">
                        <li><a routerLink="/domains-and-hosting">Domains and Hosting</a></li>
                        <li><a routerLink="/website-development">Web Development</a></li>
                        <li><a routerLink="/mobile-app-development">Mobile App Development</a></li>
                        <li><a routerLink="/website-maintenance">Website Maintenance</a></li>
                        <li><a routerLink="/search-engine-optimization">Search Engine Optimization</a></li>
                        <li><a routerLink="/website-analyzer">Free Website Analyzer</a></li>
                        <li><a routerLink="/sitemap-generator">Free Sitemap Generator</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="f_widget dark_widget about-widget">
                    <h3 class="f-title f_600 t_color f_size_18 mb-3">Get in Touch</h3>
                    <ul class="list-unstyled f_list">
                        <li><i class="ti-mobile size-20"></i> <a href="tel:+254727779929">
                                <span class="e-phone" data-phone="929 977 727 452+"></span></a></li>
                        <li><i class="ti-mobile size-20"></i> <a href="tel:+254101105944">
                                <span class="e-phone" data-phone="449 501 101 452+"></span></a></li>
                        <li><i class="ti-email size-20"></i> <a href="mailto:info@lexacle.com"> <span class="e-mail"
                                    data-user="ofni" data-website="moc.elcaxel"></span></a>
                        </li>
                        <li><i class="ti-email size-20"></i> <a href="mailto:david@lexacle.com"> <span class="e-mail"
                                    data-user="divad" data-website="moc.elcaxel"></span></a>
                        </li>
                        <li><i class="ti-email size-20"></i> <a href="mailto:support@lexacle.com"> <span class="e-mail"
                                    data-user="troppus" data-website="moc.elcaxel"></span></a></li>
                        <li><i class="ti-email size-20"></i> <a href="mailto:lexacletechnologies@gmail.com"> <span
                                    class="e-mail" data-user="seigolonhcetelcaxel" data-website="moc.liamg"></span></a>
                        </li>
                        <li><img src="/assets/img/grader/google-login.svg" class="Lexacle on Google my Business"
                                class="gmb-logo" /> <a href="https://g.page/Lexacle/review?kd" rel="noopener"
                                target="_blank"><span class="e-other">Lexacle On Google My Business</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer_bottom footer_dark_one dark_f_bottom">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 col-sm-12">
                <p class="mb-0 f_400">&copy;
                    2021 <a routerLink="/">Lexacle Technologies Ltd</a>
                </p>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12">
                <ul class="list-unstyled f_menu text-right">
                    <li><a routerLink="/about/terms-of-use">Terms of Use</a></li>
                    <li><a routerLink="/about/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>