<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="/assets/img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_600 f_size_40 w_color l_height40 mb_20">Website Development</h1>
            <p class="f_400 w_color f_size_16 l_height26">Custom Website Design & Development - SPA, PWA & Advanced Web
                Apps</p>
        </div>
    </div>
</section>
<section class="service_details_area sec_pad">
    <div class="container">
        <div class="row flex-row-reverse service_details_item">
            <div class="col-lg-6">
                <div class="service_details_img ml-0">
                    <img src="/assets/img/kill/banner_img.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service_details pr-2">
                    <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">We build extremely fast websites</h2>
                    <p class="f_400">
                        With a custom, responsive and SEO-friendly website, your business can generate the traffic,
                        leads, sales, and revenue that you need. You can also build your brand, as well as your target
                        audience’s trust, which can help you stand out from competitors and accelerate your growth
                        within a short period.
                    </p>
                    <ul class="list-unstyled mb-30 pl-0 pr_20">
                        <li><i class="ti-check text-success"></i> Progressive web applications -
                            Installable, Loading Offline, Super Fast & SEO Friendly Web Apps</li>
                        <li><i class="ti-check text-success"></i> Single Page Applications (SPA) - Developed In either
                            Angular, ReactJS, VueJS or NuxtJs JavaScript frameworks</li>
                        <li><i class="ti-check text-success"></i> Real-time Web Applications - Advanced
                            NodeJS Servers, NodeJS frameworks and Socket.IO powered web applications</li>
                        <li><i class="ti-check text-success"></i> PHP Web Applications - Laravel and Codeigniter powered
                            websites or REST API end-points</li>
                        <li><i class="ti-check text-success"></i> CMS Web Design - Wordpress, Joomla,
                            Magento, Drupal, Shopify and Mono Editor</li>
                        <li><i class="ti-check text-success"></i> MD Documentation Web Apps - Development in
                            the MD format based VuePress framework</li>
                    </ul>
                    <p class="f_400">
                        Our web experiences are high-performing, feature-packed and digitally transformative
                    </p>
                </div>
            </div>
        </div>
        <p class="text-center"><a routerlink="/website-development" class="btn_three">View Sample
                Websites</a></p>
    </div>
</section>

<section class="pricing_area_two sec_pad">
    <div class="container custom_container p0">
        <div class="sec_title text-center mb-5">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color2">Professional Website Development Packages</h2>
            <p class="text-justify">All our professional website development packages include a free SEO Plan and thus
                we guarantee a super fast website on demand. Our website and web application packages are Custom Built
                using the most popular web frameworks such as Angular, ReactJS, VueJS, NodeJS, Laravel and Codeigniter.
                We choose these frameworks in order to leverage the optimal performance of our clients' websites.</p>
        </div>
        <div class="price_content price_content_two">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="price_item">
                        <div class="tag"><span>Popular</span></div>
                        <h5 class="gradient-text f_p f_size_20 f_600 mt_30">E-Commerce Website</h5>
                        <p>Sell and Display all your Products or Services Online</p>
                        <div class="price f_600 f_size_30 t_color2">799.00<sub class="f_size_16 f_400">USD</sub></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Unlimited website pages</li>
                            <li><i class="ti-check"></i>Unlimited products & services</li>
                            <li><i class="ti-check"></i>Content Management System</li>
                            <li><i class="ti-check text-success"></i>+ Google Analytics</li>
                            <li><i class="ti-check text-success"></i>+ Free SSL Certificate</li>
                            <li><i class="ti-check text-success"></i>+ Search Engine Optimization</li>
                        </ul>
                        <a href="#" class="price_btn btn_hover">Place Order</a><br>
                        <span class="gradient-text size-12">* We charge 50% deposit upfront *</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="price_item">
                        <h5 class="gradient-text f_p f_size_20 f_600 mt_30">Agency Website</h5>
                        <p>Showcase your Company, Agency, Business or Organization</p>
                        <div class="price f_600 f_size_30 t_color2">499.00<sub class="f_size_16 f_400">USD</sub></div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Progressive Web App</li>
                            <li><i class="ti-check"></i>Single Page Application</li>
                            <li><i class="ti-check"></i>Content Management System</li>
                            <li><i class="ti-check text-success"></i>+ Google Analytics</li>
                            <li><i class="ti-check text-success"></i>+ Free SSL Certificate</li>
                            <li><i class="ti-check text-success"></i>+ Search Engine Optimization</li>
                        </ul>
                        <a href="#" class="price_btn btn_hover">Place Order</a><br>
                        <span class="gradient-text size-12">* We charge 40% deposit upfront *</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="price_item">
                        <div class="tag"><span>Popular</span></div>
                        <h5 class="gradient-text f_p f_size_20 f_600 mt_30">Custom Website</h5>
                        <p>All your custom ideas transformed into a website</p>
                        <div class="price f_600 f_size_30 t_color2">Custom Price<sub class="f_size_16 f_400"></sub>
                        </div>
                        <ul class="list-unstyled p_list">
                            <li><i class="ti-check"></i>Custom Features</li>
                            <li><i class="ti-check"></i>Progressive Web App</li>
                            <li><i class="ti-check"></i>External API Integrations</li>
                            <li><i class="ti-check text-success"></i>+ Google Analytics</li>
                            <li><i class="ti-check text-success"></i>+ Free SSL Certificate</li>
                            <li><i class="ti-check text-success"></i>+ Search Engine Optimization</li>
                        </ul>
                        <a href="#" class="price_btn btn_hover">Request Quote</a><br>
                        <span class="gradient-text size-12">* We charge 60% deposit upfront *</span>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <div class="alert alert-dismissible alert-success">
                    <span class="close size-15 alert_close"><i class="ti-close"></i></span>
                    Are you interested in becoming an affiliate partner? Join our affiliate partner program and we shall get in touch shortly. <a routerLink="/affiliate-partner-program" class="alert-link">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>