<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="/assets/img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_600 f_size_40 w_color l_height40 mb_20">Mobile App Development</h1>
            <p class="f_400 w_color f_size_16 l_height26">Hybrid (Android & iOS) Mobile App Design and Development Services</p>
        </div>
    </div>
</section>
<section class="service_details_area sec_pad">
    <div class="container">
        <div class="row flex-row-reverse service_details_item">
            <div class="col-lg-6">
                <div class="service_details_img ml-0">
                    <img src="/assets/img/kill/mobile_app_development.png" alt="Mobile App Development Services">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service_details pr-2">
                    <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">Hybrid Mobile App Development</h2>
                    <p class="f_400 mb_50">Lexacle's Technologies specializes in website design and development
                        services. Our web experiences are high-performing, feature-packed and digitally transformative,
                        designed to be user-friendly, interactive, secure and scalable.</p>
                    <ul class="list-unstyled mb-30 pl-0 pr_20">
                        <li><i class="ti-check"></i>E-commerce Apps - Buy and Sell Online Mobile Applications such as
                            Jiji, Jumia or Amazon apps</li>
                        <li><i class="ti-check"></i>Social Apps - Real-time communication and sharing social
                            applications like instagram, whatsapp or facebook messanger.</li>
                        <li><i class="ti-check"></i>Taxi Apps - Uber like taxi booking applications with customized
                            features such as Bolt, Uber and Taxify.</li>
                        <li><i class="ti-check"></i>Dating Apps - Search, Likes, Matches, Get Likes and Superlikes just
                            like Tinder and Bumblebee Apps</li>
                        <li><i class="ti-check"></i>Custom Apps - Your own custom apps. We review and analyze your
                            ideas, customize, build and deliver apps to your own liking.</li>
                    </ul>                    
                </div>
            </div>            
        </div>
        <p class="text-center"><a routerlink="/website-development" class="btn_three" href="/website-development">View Sample
                Mobile Applications</a></p>
    </div>
</section>