<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="/assets/img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_600 f_size_40 w_color l_height40 mb_20">Search Engine Optimization</h1>
            <p class="f_400 w_color f_size_16 l_height26">Optimize your website for speed, get listed on Google Search
                Engine<br> and promising traffic through Ads</p>
        </div>
    </div>
</section>
<section class="saas_features_area_two sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="stratup_service_img">
                    <div class="shape"></div>
                    <img class="laptop_img" src="/assets/img/kill/laptop.png" alt="">
                    <img class="phone_img" src="/assets/img/kill/phone.png" alt="">
                </div>
            </div>
            <div class="col-lg-4 d-flex align-items-center">
                <div class="stratup_service_info">
                    <div class="startup_service_item">
                        <div class="icon"><i class="icon-badge"></i></div>
                        <h3>Get Listed on Google</h3>
                        <p>Search Engine Optimization</p>
                    </div>
                    <div class="startup_service_item">
                        <div class="icon icon_two"><i class="icon-bell"></i></div>
                        <h3>Website Optimization</h3>
                        <p>Your website on steroids!</p>
                    </div>
                    <div class="startup_service_item">
                        <div class="icon icon_three"><i class="icon-layers"></i></div>
                        <h3>Advertice on Social Media</h3>
                        <p>Discovering your business</p>
                    </div>
                    <div class="startup_service_item">
                        <div class="icon icon_four"><i class="icon-screen-tablet"></i></div>
                        <h3>Target Mobile App Users</h3>
                        <p>Expand your current network</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="prototype_service_info">
    <div class="container">
        <h2 class="f_size_30 f_600 t_color3 l_height45 text-center mb_90">Get More Visitors and Sales from SEO</h2>
        <div class="row p_service_info">
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_70">
                    <div class="icon icon_six"><i class="ti-fullscreen"></i></div>
                    <h5 class="f_600 f_p t_color3">Internal SEO</h5>
                    <p class="f_400">Your website must fit on all devices i.e Desktop, Tablet and Smartphone without
                        users having to pinch their screen</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_50 pr_20">
                    <div class="icon icon_two"><i class="ti-mobile"></i></div>
                    <h5 class="f_600 f_p t_color3">External SEO</h5>
                    <p class="f_400">Analysis of your website's optimization score, speed and responsiveness on all
                        major mobile devices</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_50 pr_20">
                    <div class="icon icon_five"><i class="ti-google"></i></div>
                    <h5 class="f_600 f_p t_color3">Google Ads</h5>
                    <p class="f_400">Analyzes your website for secure socket layer (SSL), SSL Issuer, SSL Validity, SSL
                        Issuance and Expiry date</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_70">
                    <div class="icon icon_one"><i class="ti-facebook"></i></div>
                    <h5 class="f_600 f_p t_color3">Facebook Ads</h5>
                    <p class="f_400">Website Analyzer checks for performance speed and optimizations specifically for
                        desktop environments</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_50 pr_20">
                    <div class="icon icon_three"><i class="ti-email"></i></div>
                    <h5 class="f_600 f_p t_color3">Email Marketing</h5>
                    <p class="f_400">Website Analyzer checks for performance speed and optimizations specifically for
                        desktop environments</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_50 pr_20">
                    <div class="icon icon_four"><i class="ti-rss"></i></div>
                    <h5 class="f_600 f_p t_color3">SMS Marketing</h5>
                    <p class="f_400">Website Analyzer checks for performance speed and optimizations specifically for
                        desktop environments</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing_area_two sec_pad">
    <div class="container custom_container">
        <div class="sec_title text-center mb-5">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color2">Simple Pricing for Your Website</h2>
            <p class="f_400 f_size_16 l_height30 mb-0">We shall optimize your website for best results on Google Search
                Engine<br> Choose your preferred package below to get started</p>
        </div>
        <div class="tab-content price_content price_content_two">
            <div class="tab-pane fade active show">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="price_item">
                            <div class="tag"><span>Popular</span></div>
                            <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Basic</h5>
                            <p>Create your first online course</p>
                            <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/ mo</sub>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li><i class="ti-check"></i>Only 2 Operators</li>
                                <li><i class="ti-check"></i>Abandoned Cart</li>
                                <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>
                                <li><i class="ti-close"></i>Order Notifications</li>
                                <li><i class="ti-close"></i>Landing Pages</li>
                            </ul>
                            <a href="#" class="price_btn btn_hover">Start Today</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="price_item">
                            <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Standard</h5>
                            <p>Create your first online course</p>
                            <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/ mo</sub>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li><i class="ti-check"></i>Only 2 Operators</li>
                                <li><i class="ti-check"></i>Abandoned Cart</li>
                                <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>
                                <li><i class="ti-close"></i>Order Notifications</li>
                                <li><i class="ti-close"></i>Landing Pages</li>
                            </ul>
                            <a href="#" class="price_btn btn_hover">Start Today</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="price_item">
                            <h5 class="f_p f_size_20 f_600 t_color2 mt_30">Professional</h5>
                            <p>Create your first online course</p>
                            <div class="price f_700 f_size_40 t_color2">$25.00<sub class="f_size_16 f_400">/ mo</sub>
                            </div>
                            <ul class="list-unstyled p_list">
                                <li><i class="ti-check"></i>Only 2 Operators</li>
                                <li><i class="ti-check"></i>Abandoned Cart</li>
                                <li><i class="ti-check"></i>Facebook &amp; Instagram Ads</li>
                                <li><i class="ti-close"></i>Order Notifications</li>
                                <li><i class="ti-close"></i>Landing Pages</li>
                            </ul>
                            <a href="#" class="price_btn btn_hover">Start Today</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>