<section class="breadcrumb_area">
    <img class="breadcrumb_shap" src="/assets/img/breadcrumb/banner_bg.png" alt="">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_600 f_size_40 w_color l_height40 mb_20">Lexacle Technologies Team</h1>
            <p class="f_400 w_color f_size_16 l_height26">Dedicated in providing you with quality services</p>
        </div>
    </div>
</section>
<section class="experts_team_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="ex_team_item">
                    <img src="/assets/img/team/team_01.jpg" alt="">
                    <div class="team_content">
                        <a href="#">
                            <h3 class="f_p f_size_16 f_600 t_color3">Faith Mbaluka</h3>
                        </a>
                        <h5>Social Marketer</h5>
                    </div>
                    <div class="hover_content">
                        <div class="n_hover_content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="br"></div>
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 text-light">Faith Mbaluka</h3>
                            </a>
                            <h5>Social Marketer</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="ex_team_item">
                    <img src="/assets/img/team/team_04.jpg" alt="">
                    <div class="team_content">
                        <a href="#">
                            <h3 class="f_p f_size_16 f_600 t_color3">David Mogire</h3>
                        </a>
                        <h5>web designer</h5>
                    </div>
                    <div class="hover_content">
                        <div class="n_hover_content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="br"></div>
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 text-light">David Mogire</h3>
                            </a>
                            <h5>Web Designer</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="ex_team_item">
                    <img src="/assets/img/team/team_5.jpg" alt="">
                    <div class="team_content">
                        <a href="#">
                            <h3 class="f_p f_size_16 f_600 t_color3">Damaris Kerubo</h3>
                        </a>
                        <h5>UI/UX designer</h5>
                    </div>
                    <div class="hover_content">
                        <div class="n_hover_content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="br"></div>
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 text-light">Damaris Kerubo</h3>
                            </a>
                            <h5>UI/UX designer</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="ex_team_item">
                    <img src="/assets/img/team/team_6.jpg" alt="">
                    <div class="team_content">
                        <a href="#">
                            <h3 class="f_p f_size_16 f_600 t_color3">Felix Maeri</h3>
                        </a>
                        <h5>Web Developer</h5>
                    </div>
                    <div class="hover_content">
                        <div class="n_hover_content">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                            <div class="br"></div>
                            <a href="#">
                                <h3 class="f_p f_size_16 f_600 text-light">Felix Maeri</h3>
                            </a>
                            <h5>Web Developer</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec_title text-center mt-2">
            <img class="isize-100" src="/assets/img/svg/lt-pink.svg" alt="">
            <p class="f_400 f_size_20">"We give wings to your business, you decide where to fly"</p>
        </div>
    </div>
</section>