<section class="event_banner_area" #homebanner>
    <div class="parallax-effecto"
        style="background: url(./assets/img/bg/desk2.webp) no-repeat; background-size: cover;">
    </div>
    <div class="container">
        <div class="event_banner_content font-buntu">
            <div class="round wow zoomIn" data-wow-delay="0.1s"></div>
            <h6>Lexacle Technologies Ltd</h6>
            <h1><span>Professional </span>Websites<br> <span>and</span> Mobile Apps <span>Development</span></h1>
            <h4>"We give wings to your business, you decide where to fly"</h4>
            <a class="event_btn btn_hover" routerLink="/mobile-app-development">App
                Development</a>
            <a class="event_btn event_btn_two btn_hover" routerLink="/website-development"><i
                    class="ti-world align-middle"></i><span class="align-middle">Web Development</span></a>
        </div>
    </div>
    <div class="scroll-down" (click)="scrollInit(getstarted)">
        <span></span>
    </div>
</section>

<section class="h_action_area_three" #getstarted>
    <img class="shap_img one" src="./assets/img/kill/shap_one.png" alt="">
    <img class="shap_img two" src="./assets/img/kill/shap_two.png" alt="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30 text-light">Starting up your own online
                    business</h2>
                <p class="drop_text clear-tone"><span>S</span> tarting up an ecommerce business locally can get quite
                    exhausting. But setting it up online is a much faster and simpler way to run your business. You need
                    to have a goal in mind, an e-commerce website or mobile app, and a day or two for acquintance with
                    the daily operational routines.
                </p>
                <p class="clear-tone">
                    The deal with online businesses is, you do not need to have a physical shop to begin selling.
                    However, you need to have an online based platform in order to transact with your customers. These
                    platforms can be Mobile Apps, websites or both.
                </p>

                <a routerLink="/website-development" class="btn_three">Get your E-commerce Website today</a>
            </div>
            <div class="col-md-5">
                <img src="./assets/img/kill/starting-up-your-own-business.png"
                    class="img-fluid h_action_img wow fadeInRight" alt="Starting up your own business"
                    title="Starting up your own business" data-toggle="tooltip" data-trigger="click">
            </div>
        </div>
    </div>
</section>
<section class="saas_features_area_two">
    <div class="container">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-md-7">
                <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">Mobile App Development Services</h2>
                <p class="drop_text">
                    <span>M</span>obile apps are crucial for any start-up or established business. At least over 80% of
                    internet users around the world have access to mobile phones
                </p>
                <p>In need of a website and you don't know where to start? You are at the right place. First, Identify
                    your project, secondly <a routerLink="/mobile-app-development" title="Mobile App Development"
                        data-toggle="tooltip" data-trigger="hover">click here to book
                        your project</a> with us. The rest as they say is "a walk in the park".
                </p>
                <p>
                    With a custom, responsive and SEO-friendly website, your business can generate the traffic, leads,
                    sales, and revenue you need. You can also build your brand, as well as your target audience’s trust,
                    which can help you stand out from competitors and accelerate your growth within a short period.
                </p>
                <p>
                    All our web development services feature a progressive web app, advanced website speed optimization
                    and above all professionalism
                </p>
            </div>
            <div class="col-md-5">
                <img src="./assets/img/kill/mobile_app_development.webp" class="img-fluid wow fadeInLeft"
                    alt="Mobile App Development Services" title="Mobile App Development" data-toggle="tooltip"
                    data-trigger="hover">
            </div>
        </div>
    </div>
</section>
<section class="get_started_area">
    <div class="shap one"></div>
    <div class="shap two"></div>
    <div class="shap one three"></div>
    <div class="shap two four"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="get_content">
                    <h3 class="f_400 f_p">Thriving Singles Dating App</h3>
                    <h2 class="f_700 f_p f_size_40 l_height50 mb_20">Download the Thriving Singles App</h2>
                    <p class="f_400 f_p mb_40">Thriving Singles App enables you to connect, chat and mingle with other
                        singles. Experience fabulous feeds, instant chat messaging, likes, superlikes, dislikes and
                        matches within the Thriving Singles App. Try it for free today.</p>
                    <div class="app-buttons">
                        <a routerLink="/" class="app_btn app_btn_one Cus_getapp"><img
                                src="./assets/img/kill/google_icon.png" alt=""><span class="align-middle">Google
                                Play Store</span></a>
                        <a routerLink="/" class="app_btn app_btn_one Cus_getapp"><img
                                src="./assets/img/kill/huawei_app_gallery.svg" height="26" alt=""><span
                                class="align-middle">Huawei App Gallery</span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                <img src="./assets/img/kill/iPhoneX2.png" alt="" class="wow fadeInRight">
            </div>
        </div>
    </div>
</section>
<section class="service_details_area bg-cream sec_pad">
    <div class="container">
        <div class="row flex-row-reverse service_details_item">
            <div class="col-lg-6">
                <div class="service_details">
                    <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">Website Development Services</h2>
                    <p>Experience the Speed, Scalablility and Reliability with our professional web development services
                    </p>
                    <ul class="list-unstyled mb-30 pl-0 pr_20">
                        <li><i class="ti-check text-success"></i> Progressive web applications -
                            Installable, Loading Offline, Super Fast & SEO Friendly Web Apps</li>
                        <li><i class="ti-check text-success"></i> Real-time Web Applications - Advanced
                            NodeJS Servers, ExpressJS and Socket.IO powered web applications</li>
                        <li><i class="ti-check text-success"></i> PHP Web Frameworks - Codeigniter, Laravel,
                            Yii powered websites and API end-points</li>
                        <li><i class="ti-check text-success"></i> CMS Web Design - Wordpress, Joomla,
                            Magento, Drupal, Shopify and Mono Editor</li>
                    </ul>
                    <p class="text-left">
                        <a routerLink="/website-development" class="btn_three">Plus Much More</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="service_details_img ml-0">
                    <img class="img-fluid wow fadeInLeft" src="./assets/img/all/nova.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="h_action_area_three">
    <img class="shap_img one" src="./assets/img/kill/shap_one.png" alt="">
    <img class="shap_img two" src="./assets/img/kill/shap_two.png" alt="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7">
                <div class="h_action_content">
                    <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">How Good or Bad is your website?</h2>
                    <p>Analyze your website to get a perfomance score against speed, security and search engine
                        optimization. We give you recommendations based on google lighthouse.</p>
                    <p><i class="ti-help"></i> Can your website
                        be installed on any device?</p>
                    <p><i class="ti-help"></i> Is your website
                        too slow below the recommended speed?</p>
                    <p><i class="ti-help"></i> Are you losing
                        your customers to SEO issues?</p>
                    <p><i class="ti-help"></i> Is your website
                        insecure? What can you do?</p>
                    <p><i class="ti-help"></i> Can your website
                        run on a slow or no internet connection?</p>
                    <div class="author pt-4">
                        <a routerLink="/website-analyzer" class="btn_three">Analyze your Website for
                            free</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="h_action_img wow fadeInRight">
                    <img class="img-fluid align-middle" src="./assets/img/all/pie.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="saas_features_area_two">
    <div class="container">
        <div class="row flex-row-reverse align-items-center">
            <div class="col-md-7">
                <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30">Website Maintenance Services</h2>
                <p class="drop_text"><span>W</span>ebsite maintenance is important to any business, regardless of size.
                    Your website is a worldwide window into your business and it can have a big impact on how the value
                    of your product or service is perceived. A well-maintained website is critical for real-time service
                    industries. All businesses need regular website maintenance to attract and retain customers,
                    maintain search engine rankings and present new information, products and services to the public.
                </p>
                <p>
                    Sometimes websites get too slow, large and unmaintenable. The great news is that Lexacle
                    Technologies is here to help. We will analyze, optimize, fix and maintain your website regardless of
                    the development technology, cms, platform or framework used.
                </p>
                <a routerLink="/website-maintenance" class="btn_three">Website Maintenance
                    Packages</a>
            </div>
            <div class="col-md-5">
                <img class="img-fluid wow fadeInLeft" src="./assets/img/all/tracking_banner_img.webp"
                    alt="Website Maintenance Services" title="Website Maintenance Services" data-toggle="tooltip">
            </div>
        </div>
    </div>
</section>
<section class="h_action_area_three">
    <img class="shap_img one" src="./assets/img/kill/shap_one.png" alt="">
    <img class="shap_img two" src="./assets/img/kill/shap_two.png" alt="">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-md-7">
                <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30 text-light">Free and Unlimited XML Sitemap
                    Generator</h2>
                <p>Sitemaps enable search engines such as Google and Bing to easily crawl your website for indexing
                    purposes. Without a sitemap your website would be difficult to find on Google, Yahoo and Bing search
                    engines.
                </p>
                <p>
                    Having a sitemap for your website is a critical SEO factor. After generating your free and unlimited
                    XML Sitemap for your website we will show you a step by step tutorial on how to add it on Google.
                </p>
                <p>
                    Lexacle Technologies sitemap generator is a free tool used in generating free and unlimited XML
                    sitemaps for your website.
                </p>
                <p>
                    <a routerLink="/sitemap-generator" title="Generate a free XML Sitemap for your website"
                        data-toggle="tooltip" data-trigger="hover" class="btn_three">Generate your XML Sitemap</a>
                </p>
            </div>
            <div class="col-md-5">
                <img src="./assets/img/all/sitemap.webp" class="img-fluid wow fadeInRight"
                    alt="Free and Unlimites XML Sitemap Generator" title="Generate a free XML Sitemap for your website"
                    data-toggle="tooltip" data-trigger="click">
            </div>
        </div>
    </div>
</section>


<section class="get_started_area">
    <div class="shap one"></div>
    <div class="shap two"></div>
    <div class="shap one three"></div>
    <div class="shap two four"></div>
    <div class="container">
        <div class="hosting_title security_title text-center">
            <h2 class="f_p f_600 f_size_30 t_color3 l_height40 mb-30 text-light"><span>Over 100+</span> happy clients
                &amp; Still counting.</h2>
        </div>
        <div class="seo_fact_info">
            <div class="seo_fact_item wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="text">
                    <div class="counter one" [countUp]="40">0</div>
                    <p>Websites</p>
                </div>
            </div>
            <div class="seo_fact_item wow fadeIn" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                <div class="text">
                    <div class="counter two">28</div>
                    <p>Mobile Apps</p>
                </div>
            </div>
            <div class="seo_fact_item wow fadeIn" data-wow-delay="0.6s"
                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                <div class="text">
                    <div class="counter three">36</div>
                    <p>SEO Winners</p>
                </div>
            </div>
            <div class="seo_fact_item last wow fadeIn" data-wow-delay="0.9s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeIn;">
                <div class="text">
                    <div class="counter four">104</div>
                    <p>Projects</p>
                </div>
            </div>
        </div>
    </div>
</section>